# ============================
# Python
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
.env/
venv/
ENV/
.venv/

# ============================
# Jupyter Notebook
# ============================
.ipynb_checkpoints/
*.ipynb_convert/

# ============================
# Data files
# ============================
# Ignore all CSVs
*.csv

# But keep small sample dataset
!sample_metadata.csv

# ============================
# VS Code / Editors
# ============================
.vscode/
.idea/
*.swp
*.swo

# ============================
# OS files
# ============================
.DS_Store
Thumbs.db
